### Eclipse
.project
.classpath
.settings/
.worksheet/
bin/

### IDEA
*.iml
*.ipr
*.iws
*.ids
.idea/

### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### Gradle
.gradle
build

### Other
.cache
.tmp
results/
